version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: auth-mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - auth-db:/data/db
    environment:
      MONGO_INITDB_DATABASE: auth

volumes:
  auth-db:
