apiVersion: v1
kind: ConfigMap
metadata:
  name: demo-config
data:
  greeting: 'Hello, Universe!'
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo
  labels:
    app: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo
  template:
    metadata:
      labels:
        app: demo
    spec:
      containers:
        - name: demo
          image: marloto/express-example
          ports:
            - containerPort: 3000
          env:
            - name: GREETING
              valueFrom:
                configMapKeyRef:
                  name: demo-config
                  key: greeting